<html>
    <head>

    </head>
    <body>
        <h1>Registraste breo</h1>

        <form action="/register" method="POST">
            <input type="text" name="name" placeholder="Name"><br>
            <input type="text" name="lastName" placeholder="LastName"><br>
            <input type="password" name="password" placeholder="Contraseña"><br>
            <input type="number" name="dni" placeholder="DNI"><br>

            <div>
                <button>Guardar</button>
            </div>
        </form>
        
    </body>
</html>